body {
    background-color: rgb(13, 4, 44);
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
}

.player-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

#songVideo {
    height: 75vh;
    width: auto;
}

    @media (max-width: 900px) {
        #songVideo {
            height: auto;
            width: 60vw;
        }
    }

#startAudioBtn {
    border: 0;
    padding: 10px 14px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
    background-color: hotpink;
    color: black;
    border: 2px solid red;
}